<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>This is services page</h1>
    <hr />
    <!-- <div
      class="host-tag"
      th:insert="~{base :: parent('service one','service two')}"
    ></div> -->
    <!-- //use replace to remove hosttag -->
    <!-- for id use (~{:: #first_content}) -->
    <div th:replace="~{base :: parent(~{::.second_content})}">
      <section id="first_content">
        <h3>This is first content</h3>
      </section>
      <section class="second_content">
        <h3>This is second content</h3>
      </section>
    </div>
  </body>
</html>
